{% extends "stock/base.html" %}


{% block content %}

<div class="container mt-4 ">
    <div class="row justify-content-center">
        <div class="col-4">

            <h1>新品庫存建檔 </h1>
            <form class="form-login" action="/stock/" method="post">
            {% csrf_token %}
            {% if message %}
            <div class="alert alert-warning">{{message}}</div>
            {% endif %}
            <div class="form-group">
            <label for="itemname">商品名稱</label>
            <input type="text" class="form-control" id="itemname" placeholder="必填"
            name="itemname" autfoucos required/>
            </div>

            <div class="form-group">
            <label for="itemspec">商品規格</label>
            <input type="text" class="form-control" id="itemspec" placeholder="必填"
            name="itemspec" autfoucos required/>
            </div>

            <div class="form-group">
            <label for="saftystock">庫存安全量</label>
            <input type="number" class="form-control" id="saftystock" 
            name="saftystock" value="0"  autfoucos />
            </div>

            <div class="form-group">
            <label for="platform">販售平台</label>
            <input type="text" class="form-control" id="platform" 
            name="platform" autfoucos />
            </div>

            <div class="form-group">
            <label for="importnum">總入庫數</label>
            <input type="number" class="form-control" id="importnum" 
            name="import" value="0" autfoucos />
            </div>

            <div class="form-group">
            <label for="outputnum">總出庫數</label>
            <input type="number" class="form-control" id="outputnum" 
            name="output" value="0" autfoucos />
            </div>

            <div class="form-group">
            <label for="stock">現存數量</label>
            <input type="number" class="form-control" id="stock" 
            name="stock" value="0" autfoucos />
            </div>





            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-primary pull-right">reset</button>

            </form>
        </div>
    </div>
</div>
{% endblock%}
